name: Build and deploy Node.js app to Azure Web App - test1serverapi

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: Install dependencies and build API
        run: |
          cd api
          npm install
          npm run build --if-present

      - name: Build Frontend
        run: |
          cd Frontend
          npm install
          npm run build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: |
            api/
            frontend/dist/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_B3BED0A12C214514BAB42CAADA91324E }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_E61C96E84A9F4B2ABB94C5AEB78F6960 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_077601E2D35B46F394D431DF7EE5DDB2 }}


      - name: Deploy Frontend to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'test1serverapi'
          slot-name: 'Production'
          package: 'Frontend\dist'

      - name: Deploy Backend to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'test1serverapi'
          slot-name: 'Production'
          package: ./api